<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<!-- /pub/media/.htaccess -->
				<rule name="Imported Rule 4" stopProcessing="true">
					<match url="/pub/media/.*" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="/pub/get.php" />
				</rule>

				<!-- /pub/static/.htaccess -->
				<rule name="Imported Rule 5" stopProcessing="true">
					<match url="^pub/static/version.+?/(.+)$" ignoreCase="false" />
					<action type="Rewrite" url="/pub/static/{R:1}" />
				</rule>
				<rule name="Imported Rule 6" stopProcessing="true">
					<match url="/pub/static/.*" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="pub/static.php?resource={R:0}" appendQueryString="false" />
				</rule>

				<!-- /pub/.htaccess -->
				<rule name="Imported Rule 7" stopProcessing="true">
					<match url="/pub/.*" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_METHOD}" pattern="^TRAC[EK]" ignoreCase="false" />
					</conditions>
					<action type="Redirect" url="/pub/{R:0}" redirectType="Temporary" />
				</rule>
				<rule name="Imported Rule 8" stopProcessing="true">
					<match url="/pub/.*" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="/pub/index.php" />
				</rule>

				<!-- /.htaccess -->
				<rule name="Imported Rule 1" stopProcessing="true">
					<match url=".*" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_METHOD}" pattern="^TRAC[EK]" ignoreCase="false" />
					</conditions>
					<action type="Redirect" url="{R:0}" redirectType="Temporary" />
				</rule>
				<rule name="Imported Rule 2" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{URL}" pattern="^/mobiledirectoryhere/.*$" ignoreCase="false" negate="true" />
						<add input="{HTTP_USER_AGENT}" pattern="&quot;android|blackberry|ipad|iphone|ipod|iemobile|opera" ignoreCase="false" />
					</conditions>
					<action type="Redirect" url="/mobiledirectoryhere/" redirectType="Found" />
				</rule>
				<rule name="Imported Rule 3" stopProcessing="true">
					<match url=".*" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
